<h4>Editing User</h4>
<%= flash[:error] %>

<form action='/users/<%= @user.id%>' method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p> First Name </p> 
  <p> <input type="text" value= "<%= @user.first_name%>" name="first_name"> </p>
  <p> Last Name </p> 
  <p> <input type="text" value= "<%= @user.last_name%>" name="last_name"> </p>
  <p> Email </p> 
  <p> <input type="text" value= "<%= @user.email_address%>" name="email_address"> </p>
  <p> Password </p> 
  <p> <input type="password" name="password"> </p>
  <p> <input type="submit" name="update" value="Update"> </p>
</form>

<a href="/users/index" method="post"> Go back! </a>
<a href="/users/<%= @user.id %>">Show</a>