<h1>Listing Products</h1>
<a href="/comments"><button>All comments</button></a>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Category</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |x| %>
			<tr>
				<td><%= x.product %></td>
				<td><%= x.description %></td>
				<td><%= x.price %></td>
				<td><%= x.name %></td>
				<td><a href="/products/<%=x.product_id%>">Show</a> | <a href="/products/<%=x.product_id%>/edit">Edit</a> | <a href="/products/<%=x.product_id%>" data-method='delete'>Delete</a></td>
			</tr>
		<% end %>
	</tbody>
</table>
<a href="/products/new">New Product</a>