<p>Name: <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.price %></p>
<p>Category: <%= @category.name %></p>
<a href="/products/<%= @product.id %>/edit">Edit</a> | <a href="/products">Back</a>
<h2>Comment:</h2>
<form method="post" action="/comments">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<textarea name="comment"></textarea>
	<input type="hidden" name="id" value="<%=@product.id%>">
	<input type="submit" name="Submit">
</form>
<% @comments.each do |x| %>
	<p><%= x.comment %> <%= x.created_at.strftime("%m/%d/%y")%></p>
<% end %>

