<h2>Product #<%= @product.id %></h2>
<table>
    <tr>
        <th>Name:</th>
        <td><%= @product.name %></td>
    </tr>
    <tr>
        <th>Description:</th>
        <td><%= @product.description %></td>
    </tr>
    <tr>
        <th>Price:</th>
        <td>$<%= @product.price %></td>
    </tr>
</table>
<p><a href="/products/<%= @product.id %>/edit">Edit</a> | <a href="/products">Back</a></p>
