<div class="container">
    <p>Current Gold: <input type="text" value="<%= session[:gold] %>" disabled="disabled" /></p>
    <div class="building">
        <h3>Farm</h3>
        <p>(earn 10-20 gold)</p>
        <form action="/farm" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
            <input type="submit" value="Find Gold!">
        </form>
    </div> <!-- end Farm -->
    <div class="building">
        <h3>Cave</h3>
        <p>(earn 5-10 gold)</p>
        <form action="/cave" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
            <input type="submit" value="Find Gold!">
        </form>
    </div> <!-- end Cave -->
    <div class="building">
        <h3>House</h3>
        <p>(earn 2-5 gold)</p>
        <form action="/house" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
            <input type="submit" value="Find Gold!">
        </form>
    </div> <!-- end House -->
    <div class="building">
        <h3>Casino</h3>
        <p>(earn <i>or lose</i> 0-50 gold)</p>
        <form action="/casino" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
            <input type="submit" value="Find Gold!">
        </form>
    </div> <!-- end Casino -->
    <p>Activities:</p>
    <div id="activities">
        <% session[:activity].each do |activity| %>
        <p class="<%= activity["category"] %>"><%= activity["text"] %></p>
        <% end %>
    </div> <!-- end Activities -->
</div>
