<h1>Editing Product</h1>
<form action="/products/<%= @product.id%>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="_method" value="patch">
    Category:
    <select name="product[category]">
        <% @categories.each do |category| %>
        <option value="<%= category.id%>"><%= category.name%></option>
        <% end %>
    </select><br>
    Name: <input type="text" name="product[name]" value="<%= @product.name%>" autofocus><br>
    Description: <input type="text" name="product[description]" value="<%= @product.description%>"><br>
    Price: <input type="float" name="product[price]" value="<%= @product.price%>"><br>
    <input type="submit">
</form><br>
<a href="/products/<%= @product.id%>">Show</a> | <a href="/products">Back</a>
<style>
* {
    font-family: arial, sans-serif;
}
form {
    display: inline-block;
    text-align: right;
}
</style>
