<!DOCTYPE html>
<html>
<head>
	<title>Ninja Gold</title>
	<style type="text/css">
    	.green {
    		color: green;
    	}
    	.red {
    		color: red;
    	}
    </style>
</head>
<body>
<p>Your Gold: <%= session[:gold]%></p>
<h3>Farm</h3>
<h4>Earns 10-20 gold</h4>
<form action='/farm' method='post'>
	<input name='authenticity_token' value='<%= form_authenticity_token%>' type='hidden'>
	<input type='submit' value='Find Gold!'>
</form>
<h3>Cave</h3>
<h4>Earns 5-10 gold</h4>
<form action='/cave' method='post'>
	<input name='authenticity_token' value='<%= form_authenticity_token%>' type='hidden'>
	<input type='submit' value='Find Gold!'>
</form>
<h3>House</h3>
<h4>Earns 2-5 gold</h4>
<form action='/house' method='post'>
	<input name='authenticity_token' value='<%= form_authenticity_token%>' type='hidden'>
	<input type='submit' value='Find Gold!'>
</form>
<h3>Casino</h3>
<h4>Earns/takes 50 gold</h4>
<form action='/casino' method='post'>
	<input name='authenticity_token' value='<%= form_authenticity_token%>' type='hidden'>
	<input type='submit' value='Find Gold!'>
</form>
<p>Activities:</p>
<% for x in (0...session[:activities].length)%>
	<p class='<%=session[:status][x]%>'><%=session[:activities][x]%></p>
<% end%>
</body>
</html>
