<h2>Editing User</h2>

<%=flash[:error]%>



<form action="/users/<%=@user.id%>" method="post">
    <input type="hidden"name="_method"value="patch">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    First name: <input type="text" name="user[first_name]" value="<%=@user.first_name%>">
    Last name: <input type="text" name="user[last_name]" value="<%=@user.last_name%>">
    Email: <input type="text" name="user[email_address]" value="<%=@user.email_address%>">
    Password: <input type="password" name="user[password]" value="<%=@user.password%>">
    <input type="submit" value="Update">
</form>
<br>
<a href="/users/<%=@user.id%>">Show</a> | <a href="/"> Back </a>
