<h2>Listing Users</h2>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th></th>
    </tr>
    <% for user in @users %>
    <tr>
        <td><%=user.first_name%></td>
        <td><%=user.last_name%></td>
        <td><%=user.email_address%></td>
        <td><a href="/users/<%=user.id%>">Show</a> | <a href="/users/<%=user.id%>/edit">Edit</a> | <a href="users/<%=user.id%>" data-method='delete'>Delete</a> </td>
    </tr>
    <% end %>
</table>
<br>
<a href="/users/new">New User</a>
