<h3>Submitted Information</h3>
<% if flash[:notice] %>
    <div class="notice">
        <p><%= flash[:notice] %></p>
    </div>
<% end %>
<table>
    <tr>
        <th>Name:</th>
        <td><%= @survey.username %></td>
    </tr>
    <tr>
        <th>Dojo Location:</th>
        <td><%= @survey.location %></td>
    </tr>
    <tr>
        <th>Favorite Language:</th>
        <td><%= @survey.language %></td>
    </tr>
    <tr>
        <th>Comment:</th>
        <td><%= @survey.comment %></td>
    </tr>
</table>
