<div style="text-align:center">
    <div style="display: inline-block; width: 60%; background-color:lightgreen; border:solid black 1px">
        <p>Thank you for submitting this form! You have submitted this form <%=@count%> times now.</p>
    </div>
    <div style="display: inline-block; width: 60%; border:solid black 1px">
        <h4><u>Submitted Information</u></h4>
        <p>Name: <%=@user[:name]%></p>
        <p>Dojo Location: <%=@user[:location]%></p>
        <p>Favorite Language: <%=@user[:language]%></p>
        <p>Comment: <%=@user[:comment]%></p>
        <a href="/">Go Back</a>
    </div>

</div>
