<div>
	<p>Thanks for submitting this form! You have submitted this form <%= session[:number] %> times now</p>
</div>

<div>
	<p>Submitted Information</p>
	<p>Name <%= session[:name] %></p>
	<p>Dojo Location <%= session[:location] %></p>
	<p>Favorite Language <%= session[:language] %></p>
	<p>Comment <%= session[:comment] %></p>

</div>