<html>
  <head>
    <title>Ninja Gold</title>
    <style type="text/css">
    	.green {
    		color: green;
    	}
    	.red {
    		color: red;
    	}
    	.black {
    		color:black;
    	}
    </style>
  </head>
  <body>
    <div id = "container">
      Your Gold:<input type="text" value="<%=session[:ninjagold]%>" >
        <div class = "building">
          <form action="/rpgs/farm" method="post">
          	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <p class="boxname">Farm</p>
            <p class="money">(earns 10-20 golds)</p>
            <input type ="submit" value="Find Gold!" class="button"/>
          </form>
        </div>
        <div class ="building">
          <form action="/rpgs/cave" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <p class ="boxname">Cave</p>
            <p class="money">(earns 5-10 golds)</p>
            <input type ="submit" value="Find Gold!" class="button"/>
          </form>
        </div>
        <div class ="building">
          <form action="/rpgs/house" method="post">
       		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <p class="boxname">House</p>
            <p class="money">(earns 2-5 golds)</p>
            <input type ="submit" value="Find Gold!" class="button"/>
          </form>
        </div>
        <div class = "building">
          <form action="/rpgs/casino" method="post">
          	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <p class="boxname">Casino</p>
            <p class="money">(earns/takes 0-50 golds)</p>
            <input type ="submit" value="Find Gold!" class="button"/>
          </form>
        </div>
      <p id="active">Activities:</p>
      <div id="activities">
      
      <% for x in (0...session[:list].length)%>
        <p class="<%=session[:colors][x]%>"><%=session[:list][x]%></p>
      <% end%>
      </div>
    </div>

  </body>
</html>