<h1>Edit user</h1>
<form action='/users/<%= @user.id %>' method='post'>
	<input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
	<input type="hidden" name="_method" value="patch">
	<p>First name</p>
	<input name='user[first_name]' type='text' value='<%= @user.first_name %>'>
	<p>Last name</p>
	<input name='user[last_name]' type='text' value='<%= @user.last_name %>'>
	<p>Email</p>
	<input name='user[email_address]' type='text' value='<%= @user.email_address %>'>
	<p>Password</p>
	<input name='user[password]' type='password' value='<%= @user.password %>'>
	<input type='submit' value='Update'>
</form>
<p><a href='/users/<%= @user.id %>'>Show</a> <a href='/users'>Back</a>