<h2>Edit User <%= @user.id %></h2>
<% if flash.alert %>
<ul>
    <% flash.alert.each do |alert| %>
        <li><%= alert %></li>
    <% end %>
</ul>
<% end %>
<form action="/users/<%= @user.id %>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="_method" value="patch">
    <p>First Name:</p>
    <input type="text" name="user[first_name]" value="<%= @user.first_name %>" />
    <p>Last Name:</p>
    <input type="text" name="user[last_name]" value="<%= @user.last_name %>" />
    <p>Email Address:</p>
    <input type="email" name="user[email]" value="<%= @user.email %>" />
    <p>Password</p>
    <input type="password" name="user[password]" value="<%= @user.password %>" />
    <p><input type="submit" value="Update"></p>
</form>
<p><a href="/users/<%= @user.id %>/edit">Edit</a> | <a href="/users">Back</a> |
<button type="button"><%= link_to 'Delete', users_destroy_path(@user.id), method: 'delete' %></button></p>
