<div class="top">
    <% if flash[:notice] %>
    <p style="background-color: lightgreen;"><%= flash[:notice] %></p>
    <% end %>
</div>
<div class ='res'>
    <h1>Submitted Info</h1>
    <p>Name: <%=@name%></p>
    <p>Dojo Location: <%=@location%> </p>
    <p>Favorite Language: <%=@language%></p>
    <p>Comment: <%=@comment%></p>

</div>
 <a href="/">Go Back</a>
